{erl_opts, [debug_info,
	   {i,"include"},
	   {i,"/home/joq62/erlang/include"},
	   {i,"_build/default/lib/*/include"},
            {d, 'EDOC', [{doc_path, "doc"}]}]}.
{deps, [
       {zigbee_service,{git,"https://github.com/joq62/zigbee_service.git",{branch,"main"}}},
       {rd_service,{git,"https://github.com/joq62/rd_service.git",{branch,"main"}}},
       {log_service,{git,"https://github.com/joq62/log_service.git",{branch,"main"}}}
       ]}.
{edoc_opts, [
  %  {doclet, edown_doclet},
 %   {top_level_readme, {"./README.md", "https://github.com/yourusername/yourproject"}},
    {source_path, ["src"]},
    {output_dir, "doc"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [zigbee]}]}.
